.home{

    background-color: #0F2330;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 150vh;
    width: 100%;
  
    
}

.products {
    width: 70vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 3 items for laptop */
    grid-gap: 0.5rem 0.5rem;
  }
  
  @media (max-width: 768px) {
    .products {
      grid-template-columns: repeat(2, 1fr); /* 2 items when screen is minimized */
    }
  }
  
  @media (max-width: 480px) {
    .products {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  