.item{
    width: 80%;
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: #223440;
    height: 110px;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover{
        transform: scale(1.02);
        opacity: 0.8;
    }
    .image{
        width: 100px;
        height: 110px;
        background-color: white;
        border-radius: 7px;
        display: flex;
        justify-content: center;
        align-items: center;

      

    }
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0 1rem;
        .item_title{
            font-size: 1rem;
            font-weight: 600;
            color: #333;
            margin: 0;
            color: #ADF5D6;
        }
        .rating_price{
            margin-top: 1rem;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            .price{
                font-size:1rem;
                font-weight: 600;
                color: #333;
                margin: 0;
                color: #FFCD29;
            }
          
        }
        
    }
}
