.product{
    width: 100vw;
     min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), #0F2330;

  
     .item{
      margin-top: 10px;
      border-radius: 8px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      height: 80vh;
      width: 80%;
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));


      .mobileTitle{
        display: none;
      }
      .images{
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .mainImage{
          width: 80%;
          height: 70%;
          display: flex;
          justify-content: center;
          background-color: white;
          border-radius: 10px;
          .mainimg{
            margin-top: 10px;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            object-fit: contain;
          }

        }
        .smallImages{
          margin: 5px 0;
          width: 80%;
          height: 20%;
          display: flex;
          justify-content: space-between;


          .smallImage{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 8px;


            background-color: white;
            width:130px ;
            height: 120px;
            object-fit: cover;
            
          }
        }
      }
     }
  

}

//media query
@media screen and (max-width: 768px) {
  .product {
    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      .mobileTitle{
        display: block;
     
      }
     
    }
  }
}
